{% extends "base.html" %}questions_content

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slides.css' %}" />

    <div id="best_lot_list">
        {% if best_lots %}
            <h1>Лучшие предложения</h1>


            <div id="slides">
                    <ul class="slides">
                        {% for lot in best_lots %}
                        <li class="best_lot_li">
                            <a href="/lot/{{ lot.alias }}/">
                                <div class="slide-image" style="background-image:url('/media/{{ lot.main_image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;"></div>
                                <div class="slide-info">
                                    <h3>{{ lot.name }}</h3>
                                    <span class="state-tag">{{ lot.state_name }}</span>
                                    <span class="price-tag">{{ lot.price_formatted }}</span>
                                    <span class="year-tag">{{ lot.manuf_year }} г.в.</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
            </div>

        {% endif %}
    </div>

    <div class="new_lot_list">

         {% if new_lots %}
            <h1>Новые лоты</h1>

            <ul class="lots_list">
                {% for lot in new_lots %}
                    <li class="lot_li col5 mbottom">
                            <a href="/lot/{{ lot.alias }}/">
                                <div class="lot_image" style="background-image:url('/media/{{ lot.main_image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;"></div>
                                <div class="lot_info">
                                    <div class="lot_title">{{ lot.name }}</div>
                                    <div class="lot_price_wrap">
                                        <span class="price_tag"><b>{{ lot.state_name }}</b> {{ lot.price_formatted }}</span>
                                    </div>
                                </div>
                            </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="info_block">
        <div class="inline">

            <div class="col">
                <h3>Популярные статьи</h3>
                    <ul class="articles_ul">
                        {% for article in articles %}
                            <li>
                                <div class="article_image" style="background-image:url('/media/{{ article.small_image }}');background-position:center center;background-size:cover;background-repeat:no-repeat;" alt="Article"></div>
                                <div class="article_info">
                                    <p class="preview">{{ article.title }}</p>
                                    <a href="/article/{{ article.alias }}/" class="more-link">Подробнее</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="col">
                <h3>Популярные бренды</h3>
                <ul class="popular_ul">
                    {% for brand in brands %}
                        <li>
                            <a href="/brand/{{ brand.alias }}/" class="brand-name">{{ brand.name }}</a>
                            <span class="amount-offers">{{ brand.lots }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col">
                <h3>Популярные поставщики</h3>
                <ul class="popular_ul">
                    {% for org in supplier_orgs %}
                        <li>
                            <a href="/supplier/{{ org.alias }}/" class="suppl-name">{{ org.name }}</a>
                            <span class="amount-offers">{{ org.lots }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>






{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}


<script src="/static/js/index.js" type="text/javascript"></script>
{% endblock content %}