{% if lots %}

<ul class="lots_list">

    {% for lot in lots %}
                    <li class="lot_li col4 mbottom">
                            <a href="/lot/{{ lot.alias }}/">
                                <div class="lot_image" style="background-image:url('/media/{{ lot.main_image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;"></div>
                                <div class="lot_info">
                                    <div class="lot_title">{{ lot.name }}</div>
                                    <div class="lot_price_wrap">
                                        <span class="price_tag"><b>{{ lot.state_name }}</b> {{ lot.price_formatted }}</span>
                                    </div>
                                </div>
                            </a>
                    </li>
    {% endfor %}
</ul>

{% else %}
    <p>К сожалению, по вашему запросу ничего не найдено</p>
{% endif %}


{% if message %}
    <div class="clear">{{ message }}</div>
{% endif %}