

.info_block {
    padding-top:20px;
    clear: both;
    width:100%;
}

.info_block .col {
    width:33%;
    float:left;
}

.article_image {
    width:81px;
    height:62px;
    float:left;

}

.article_info {
    width:170px;
    float:right;
    margin-right:20px;
    text-align:left;
}

.articles_ul{
    width: 100%;
    padding-top:10px;
}

.articles_ul li{
    width: 295px;
    float: left;
    margin: 20px 0 0 0;
    height: 62px;
    overflow: hidden;
}

.articles_ul li:nth-child(1){
    margin: 0;
}

.articles_ul li img{
    width: 81px;
    height: 62px;
    float: left;
    margin: 0 13px 0 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: url("/images/article_icon.gif") no-repeat;
}


.articles_ul li .preview{
    font-family: 'Museo-300', Arial, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #414141;
    text-align:left;
    margin: 5px 0 0 0;
}

.articles_ul li .more-link{
    color: #414141;
    -webkit-transition:color 0.1s ease-in;
    -moz-transition:color 0.1s ease-in;
    -o-transition:color 0.1s ease-in;
    transition:color 0.1s ease-in;
    font-family: 'Museo-300', Arial, Verdana, sans-serif;
    font-size: 11px;
    background: url("/images/read_more_arrow.gif") no-repeat right center;
    padding: 0 17px 0 0;
}

.articles_ul li .more-link:hover{
    color: #f88a21;
}

.popular_ul {
    list-style: none;
    padding-top:10px;
}

.popular_ul li {
    display:block;
}

.popular_ul li a {
    font-size:0.9em;
    color:#666;
    text-decoration:none;
}
.popular_ul li a:hover{
    color: #f88a21;
}
