{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/supplier/org.css' %}" />


<div class="page_head">
    <h1>{{ org.name }}</h1>
</div>

<div id="left_container" class="left w25">
    <div id="org_logo" style="background-image:url('/media/{{ org.logo }}');background-size:contain;background-repeat:no-repeat; background-position:center center;"></div>
    <div class="org_info">
        <ul>
            <li>{{ org.phone }}</li>
            <li>{{ org.url }}</li>
            <li>{{ org.email }}</li>
        </ul>
    </div>
</div>

<div id="right_container" class="left w25">

        <div id="lots_content">
            <h3>Техника на продажу</h3>
            <ul >
                {% for group in groups %}
                    <li><a href="/">{{ group.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

</div>



<div id="office_list">

            <h3>Карта офисов <span id="office-counter"></span></h3>

            <div id="contact-maps">
                <div id="map-canvas" data-coord-x="55.74929" data-coord-y="37.072067" data-zoom="4"></div>
            </div>

</div>


<div id="org_addition">

            <div id="org_description" class="left w75">
                <h3>О поставщике</h3>
                <div class="descr">
                    {{ org.descr }}
                </div>

                <div class="feed-post-text-more">
                    <div class="feed-post-text-more-but">
                        <div class="feed-post-text-more-left"></div>
                        <div class="feed-post-text-more-right"></div>
                    </div>
                </div>
            </div>

            <div class="right w25">
                <div id="contact_form">
                      <h3>Сообщение поставщику</h3>
                      <form action="" method="post" class="common" id="supplier_form">
                         {% csrf_token %}
                         <ul class="form_ul full_width">
                            {{ form.as_ul }}
                         </ul>
                         <div class="btn">
                             <button>Отправить</button>
                         </div>
                      </form>
                      <div class="result_div"></div>
                </div>
            </div>
</div>




{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}


<script src="/static/js/supplier/org.js" type="text/javascript"></script>
{% endblock content %}