{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/supplier/supplier.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slides.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />


<div class="page_head">
    <h1>{{ supplier.name }}</h1>
</div>

<div id="left_container" class="left w19">
    <div id="supplier_info">
        {% if supplier.descr %}
            <h3>О нас</h3>
            {{ supplier.descr }}
        {% endif%}

        <h3>Контакты</h3>
        <ul class="contacts_ul">
            <li>{{ supplier.phone }}</li>
            <li>{{ supplier.address }}</li>
            <li>{{ supplier.email }}</li>
            <li>{{ supplier.url }}</li>
        </ul>
        <div class="btn">
            <button class="green">Сообщение поставщику</button>
        </div>
    </div>


</div>

<div id="right_container" class="left w81">


     {% if best_lots %}
        <div id="slides_wrap">
            <div id="slides">
                    <ul class="slides">
                        {% for lot in best_lots %}
                        <li class="best_lot_li">
                            <a href="/lot/{{ lot.alias }}/">
                                <div class="slide-image" style="background-image:url('/media/lots/{{ lot.main_image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;"></div>
                                <div class="slide-info">
                                    <h3>{{ lot.name }}</h3>
                                    <span class="state-tag">{{ lot.state_name }}</span>
                                    <span class="price-tag">{{ lot.price_formatted }}</span>
                                    <span class="year-tag">{{ lot.manuf_year }} г.в.</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
     {% endif %}

     <div id="lot_list">
         {% if lots %}
            <ul class="lots_list">
                {% for lot in lots %}
                    <li class="lot_li col4 mbottom">
                            <a href="/lot/{{ lot.alias }}/">
                                <div class="lot_image" style="background-image:url('/media/lots/{{ lot.main_image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;"></div>
                                <div class="lot_info">
                                    <div class="lot_title">{{ lot.name }}</div>
                                    <div class="lot_price_wrap">
                                        <span class="price_tag"><b>{{ lot.state_name }}</b> {{ lot.price_formatted }}</span>
                                    </div>
                                </div>
                            </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>





{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}


<script src="/static/js/supplier/supplier.js" type="text/javascript"></script>
{% endblock content %}