<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Advert</title>
        <meta http-equiv=Content-Type content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="/static/css/base.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/list.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/select2.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/reveal.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css" />

        <script src="/static/js/plugins/jquery-1.11.3.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/select2.full.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jquery.fileupload.js"></script>
        <script src="/static/js/plugins/jquery.iframe-transport.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="/static/js/plugins/jquery.reveal.js"></script>

        <script src="/static/js/base.js" type="text/javascript"></script>

    </head>
    <body>
        <header class="black_line">
            <div id="main_header">
                <div class="heading">
                    <div class="head"><a href="/">Advert</a></div>
                </div>

                <div class="search">
                    <form method="get" action="/search/" id="main_search_form">
                        <input type="text" id="main_search" name="q" placeholder="Search" value="{{ query }}"/>
                    </form>
                    <button id="search_button">
                    </button>
                </div>

                <div class="add">
                    <a href="/user/lot/add/"><button>Опубликовать</button></a>
                </div>

                <ul>
                {% if user.is_authenticated %}

                    <li class="avatar usermenu_item">
                        <a href="/user/profile/"><div style="background-image:url('/media/{{ user.avatar }}');background-size:cover;background-repeat:no-repeat;background-position:center center;" class="avatar_img"></div></a>
                    </li>

                    <li class="username usermenu_item">
                        <a href="/user/profile/">{{ user.username }}</a>
                    </li>
                     <li class="region">
                         <a href="#" id="region_selector">{{ user.region.name }} ({{ context.vals.region.name }})</a>
                    </li>
                {% else %}
                    <li class="login">
                        <a href="/login/">Войти</a>
                    </li>
                    <li class="register">
                        <a href="/register/">Регистрация</a>
                    </li>
                    <li class="region">
                        <a href="#">Москва</a>
                    </li>
                {% endif %}
                </ul>

                <div id="user_menu">
                    <ul>
                        <li><a href="/user/profile/">Мой профиль</a></li>
                        <li><a href="/user/lots/">Мои лоты</a></li>
                        <li><a href="/user/lot/add/">Добавить лот</a></li>
                        <li><a href="/logout/">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="menu_header">
            <div class="container">
                    <ul class="menu">

                        {% for menu_item in context.menu %}
                            <li><a class="menu_a" href="/catalog/lots/{{ menu_item.alias }}/">{{ menu_item.short_name }}</a>
                                <div class="submenu">
                                    <ul>
                                        {% for group in menu_item.groups %}
                                            <li><a href="/catalog/lots/{{ group.url }}">{{ group.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
            </div>
        </div>

        <div id="main-container">
            <div class="inline">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="inline">
                    <div class="col">
                        <h3>О нас</h3>
                        <ul>
                            <li><a href="/">Контакты</a></li>
                            <li><a href="/">О проекте</a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3>Пользователям</h3>
                        <ul>
                            <li><a href="/user/profile/">Личный кабинет</a></li>
                            <li><a href="/user/lot/add/">Разместить объявление</a></li>
                            <li><a href="/register/">Регистрация</a></li>
                            <li><a href="/articles/">Статьи</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="region_reveal" class="reveal_modal large">
            <div class="close_reveal_modal"></div>
            <div class="main_head">Выберите ваш регион</div>
            <div class="reveal_content tpad">
                <div class="reveal_inner_inline"></div>
            </div>
        </div>


    <script src="/static/js/init.js" type="text/javascript"></script>
        {{ debug }}
    </body>
</html>
