#filter_wrap {
    width:100%;
}

#filter_wrap button {
    background-color: #efefef;
    color:#666;
    margin-right:5px;
    padding: 10px 26px;
}

#filter_wrap button:nth-child(3) {
    margin-right:0px;
}

#filter_wrap button.active, #filter_wrap button:hover {
    background-color: #f87000;
    color:#fff;
}


#filter {
    width:100%;
    min-height:500px;
    background-color: #efefef;
}