#filter_wrap {
    width:246px;
}

#filter_wrap button {
    background-color: #efefef;
    color:#666;
    margin-right:4px;
    padding: 10px 24px;
}

#filter_wrap button:nth-child(3) {
    margin-right:0px;
}

#filter_wrap button.active, #filter_wrap button:hover {
    background-color: #f87000;
    color:#fff;
}


#filter {
    width:100%;
    min-height:500px;
    background-color: #efefef;
}

#filter #filter_ul {
    list-style:none;
    padding:20px 10px;
    font-size:0.8em;
}

#filter #filter_ul li {
    padding-bottom:10px;
}


#filter select {
    width:100%;
}



#lots_content {
    width:98.2%;
    min-height:700px;
    margin-left:19px;
}

#lots_content .lot_li {
    margin-right:19px;
}
#lots_content .lot_li.col4:nth-child(4n){
	margin-right:0px;
}