{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article/article.css' %}" />


<div class="page_head">
    <h1>{{ article.title }}</h1>
</div>

<div id="article_subhead">
    <span class="date">{{ article.date }}</span>
</div>

<div id="article_image_container">
    <div id="article_image" style="background-image:url('/media/{{ article.big_image }}');background-size:cover;background-repeat:no-repeat; background-position:center center;"></div>
</div>

<div id="article_content">
    {{ article.content | safe }}
</div>




{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}


<script src="/static/js/brand/brand.js" type="text/javascript"></script>
{% endblock content %}