{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/add_edit_lot.css' %}" />
<script src="/static/js/user/userlot.js" type="text/javascript"></script>

<div id="edit_lot_container" class="">
        <h1>Редактирование лота</h1>
        <div class="inline">
            <div id="lot_content" class="left w50">
                <form method="post" class="common l200" action="/user/lot/edit/{{ lot_id }}/" enctype="multipart/form-data" id="edit_lot_form">
                    {% csrf_token %}
                    {{ form.product_id }}
                    {{ form.brand_id }}
                    {{ form.image_filenames }}

                    <div class="cont">
                        <h3>Общая информация</h3>
                        <ul class="form_ul">
                            <li><label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                                {{ form.name }}
                            </li>
                            <li><label for="{{ form.active.id_for_label }}">{{ form.active.label }}:</label>
                                {{ form.active }}
                            </li>
                            <li><label for="{{ form.best.id_for_label }}">{{ form.best.label }}:</label>
                                {{ form.best }}
                            </li>
                        </ul>
                    </div>

                    <div class="cont">
                        <h3>Продукт</h3>
                        <ul class="form_ul">
                            <li><label for="{{ form.category.id_for_label }}">{{ form.category.label }}:</label>
                                {{ form.category }}
                            </li>
                            <li><label for="{{ form.brand.id_for_label }}">{{ form.brand.label }}:</label>
                                {{ form.brand }}
                            </li>
                            <li><label for="{{ form.product.id_for_label }}">{{ form.product.label }}:</label>
                                {{ form.product }}
                            </li>
                        </ul>
                    </div>

                    <div class="cont">
                        <h3>Стоимость</h3>
                        <ul class="form_ul">
                            <li><label for="{{ form.price.id_for_label }}">{{ form.price.label }}:</label>
                                {{ form.price }}
                            </li>
                            <li><label for="{{ form.currency.id_for_label }}">{{ form.currency.label }}:</label>
                                {{ form.currency }}
                            </li>
                        </ul>
                    </div>

                    <div class="cont">
                        <h3>Состояние</h3>
                        <ul class="form_ul">
                            <li><label for="{{ form.state.id_for_label }}">{{ form.state.label }}:</label>
                                {{ form.state }}
                            </li>
                            <li><label for="{{ form.manif_year.id_for_label }}">{{ form.manuf_year.label }}:</label>
                                {{ form.manuf_year }}
                            </li>
                        </ul>
                    </div>

                    <div class="cont">
                        <h3>Местонахождение</h3>
                        <ul class="form_ul">
                            <li><label for="{{ form.region.id_for_label }}">{{ form.region.label }}:</label>
                                {{ form.region }}
                            </li>
                        </ul>
                    </div>

                    <div class="cont">
                        <h3>Дополнительно</h3>
                        <ul class="form_ul">
                            <li><label for="{{ form.main_description.id_for_label }}">{{ form.main_description.label }}:</label>
                                {{ form.main_description }}
                            </li>
                        </ul>
                    </div>

                    <div class="btn">
                        <button class="green" type="submit">Сохранить</button>
                        <button class="green" id="delete_button">Удалить</button>
                    </div>

                </form>
            </div>

            <div id="gallery_content" class="right w50" >
                    <h3>Галерея</h3>
                    <div id="gallery">

                         {% for image in lot_gallery %}

                            {% if image.type == 'real' %}
                            <div id="userphoto_{{ image.num }}" class="photo_wrap">
                                  <div class="photo" data-type="real" style="background-image:url('/media/lots/{{ image.image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;">
                                        <div class="del-layer"><a href="/" class="colorbox"></a></div>
                                        <div class="del"><button class="delete" >Удалить</button></div>
                                        <form method="post" action="/user/lot/image/del/" class="del_form">
                                            {% csrf_token %}
                                            {{ image.form }}
                                        </form>
                                  </div>

                            </div>
                            {% endif %}

                            {% if image.type == 'empty' %}
                            <div id="userphoto_{{ image.num }}" class="photo_wrap">
                                  <div class="photo empty">
                                        <div class="add-layer">
                                            <form class="upload"  method="post" action="/user/lot/image/add/" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ image.form }}
                                            </form>
                                        </div>
                                        <div class="add"><button class="addb" >Добавить</button></div>
                                  </div>
                            </div>
                            {% endif%}

                         {% endfor %}

                    </div>
            </div>
        </div>
</div>


    {% if message %}
        <p><strong>
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ message }}
        </strong></p>
    {% endif %}



<script src="/static/js/user/edit_lot.js" type="text/javascript"></script>
{% endblock content %}