{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/lots.css' %}" />


<div id="add_lot_container" class="w100">
        <h1>Мои лоты</h1>
        <table cellpadding="0" cellspacing="0" class="common w100" id="my_lots_table">
            <thead>
                <tr>
                    <td>Фото</td>
                    <td>Номер лота</td>
                    <td>Название</td>
                    <td>Добавлен</td>
                    <td>Отредактирован</td>
                    <td>Активен</td>
                    <td>Редактировать</td>
                </tr>
            </thead>
            {% for lot in lots %}
                <tr>
                    <td class="foto_td"><div class="small_image" style="background-image:url('/media/lots/{{ lot.main_image }}');background-repeat:no-repeat;background-position:center center;background-size:cover;"></div></td>
                    <td>{{ lot.num }}</td>
                    <td>{{ lot.name }}</td>
                    <td>{{ lot.add_date | date:"d-m-Y h:i:s" }}</td>
                    <td>{{ lot.upd_date | date:"d-m-Y h:i:s" }}</td>
                    <td>{{ lot.active_name }}</td>
                    <td><a class=gray href="/user/lot/edit/{{ lot.id }}/">Изменить</a></td>
                </tr>
            {% endfor %}
        </table>

</div>


<div class="lots_wrap">
    <div class="pagination" >
                <div class="step-links">
                        {% if lots.has_previous %}
                            <a href="/user/lots/?page=1"><<</a>
                            <a href="/user/lots/?page={{ lots.previous_page_number }}"><</a>
                        {% endif %}

                        {% for page in lots.paginator.page_range %}
                            <a href="/user/lots/?page={{ page }}" class="{% if page == lots.number %} active {% endif %}">{{ page }}</a>
                        {% endfor %}

                        {% if lots.has_next %}
                            <a href="/user/lots/?page={{ lots.next_page_number }}">></a>
                            <a href="/user/lots/?page={{ lots.paginator.num_pages }}">>></a>
                        {% endif %}
                </div>
    </div>
</div>




    {% if message %}
        <p><strong>
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ message }}
        </strong></p>
    {% endif %}



<script src="/static/js/user/add_lot.js" type="text/javascript"></script>
{% endblock content %}